/* Valores Base */

body {
  display: flex;
  flex-direction: row;
  background-image: linear-gradient(90deg, 
    rgba(255, 255, 255, 0.3),
    rgba(255, 190, 51, 0.5)
    ),
    url(https://img.freepik.com/foto-gratis/muro-hormigon-gris-claro_53876-89532.jpg?t=st=1652479480~exp=1652480080~hmac=57553abcbd6df3523345ad1bc2e93e98f74e7473b160bb8d14d258534421c327&w=826);
  background-attachment: fixed;
  background-size: cover;
}

p {
  padding-bottom: 0.5vw;
}

a {
  display: block;
}

code {
  background-color: rgba(0, 0, 0, 0.2);
  border-radius: 2px;
}

h4 {
  font-family: Cambria, Georgia, serif, Candara;
  font-size: 1.3rem;
}

main, nav {
  font-family: Cambria, Georgia, serif, Candara;
  font-size: 1.2rem;
  line-height: 1.2;
  color: rgba(0, 0, 0, 0.9);
}


/* Sección de Navegación */


header {
  font-weight: bold;
  font-size: 1.5em;
  display: flex;
  flex-direction: row;
  justify-content: center;
  margin-bottom: 2vw;
}

#nav-head {
  text-align: center;
  padding-top: 1em;
}

nav {
  flex-direction: column;
  min-width: 22vw;
  padding: 1vw 1vw 2vw 1vw;
  border: 0.5px solid rgba(0, 0, 0, 0.9);
  position: fixed;
  overflow: scroll;
  height: 100%;
  width: 20%;
}

@media (max-width: 560px) {
  nav {
    position: relative;
  }
}

#nav-text {
  padding: 0vw 1vw 1vw 1vw;
  width: 100%;
  border-top: 1px solid rgba(0, 0, 0, 0.5);
}

#list-header {
  list-style: none;
  display: inline;
  width: 100%;
  margin-bottom: 8em;
}

.nav-link {
  text-decoration: none;
  color: rgba(0, 0, 0, 0.9);
  padding-top: 10px; 
}

.nav-link:hover {
  color: rgba(255, 85, 0, 0.9);
}


/* Sección Main */


main{
  padding: 1vw 2vw 2vw 26vw;
}

@media (max-width: 460px) {
  .main-section {
    margin: 0 auto;
    padding: 0 auto;
  }
}


/* Sección Footer */


.footer-link {
  color: rgba(0, 0, 0, 0.9);
}

.footer-link:hover {
  color: rgba(255, 85, 0, 0.9);
}

